<app-top-bar (onSelectedOption)="onSelectedOption($event)"></app-top-bar>
<button mat-button (click)="getOffers()">Get Offers</button>
  <div class="grid-container">
    <h1 class="mat-h1">Liste</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngIf="offers" [colspan]="2" [rowspan]="1">
      <mat-card  class="dashboard-card">
        
        <mat-card-header>
          <mat-card-title>
            Offres
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <span class="deal"><h2 *ngIf="bestOffer" class="bestValue mat-h2">Best value !</h2><p>{{bestOffer.type}}</p><p *ngIf="bestOffer.sliceValue">{{offer.sliceValue}}</p><p>-{{bestOffer.value}}€</p></span>
          <!-- <div *ngFor= "let offer of offers['offers']; let i = index" [attr.data-index]="i">
             <span class="deal"><b *ngIf="minus" class="bestValue">Best value !</b><p>{{offer.type}}</p></span>
            <span ><b *ngIf="slice"  class="bestValue">Best value !</b><p *ngIf="offer.sliceValue">{{offer.sliceValue}}</p></span>
             <span><b  *ngIf="percentage"  class="bestValue">Best value !</b><p>{{offer.value}}</p></span>
          </div> -->
        </mat-card-content>
      </mat-card> 
    
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let card of books" [colspan]="1" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-card-subtitle>ISBN : {{card.isbn}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img class="cardImage" src={{card.cover}} alt="Photo of a Shiba Inu">
          <p *ngFor = "let syn of card['synopsis']">
            {{syn}}
        </p>
        </mat-card-content>
        <mat-card-footer>
          <h4 class="mat-h4">Prix: {{card.price}}</h4>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  

